<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CDN vue.js practice</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>

    <div id="app"> 
        
        Enter the name: 
        <input type="text" v-model="name" >
        </br>
        </br>
        Enter the age:
        <input type="number" v-model="age">
        </br>
        <span>
            {{name}} is {{age}} years old
        </span>
        </div>
</body>

<script>
    const {createApp,ref} = Vue;
    
    createApp({

        setup()
        {
            let name = ref("");
            let age = ref();

            return {
                name,
                age
            };
        }
    }).mount("#app");
</script>

</html>